---
---

// Width of the content area
$content-width: 1200px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;
$base-font-family: -apple-system, manrope, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "minima";

.site-title {
  font-weight: 600;
  color: #2f2f2f;

  &:visited {
    color: #2f2f2f
  }
}

.site-header {
  border-top: none;
  padding: 5px 0;
}

h1.page-heading {
  color: $grey-color;


  strong {
    color: #2f2f2f;
    font-weight: 600;
  }
}

img.profile-image {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 520px;
  border-radius: 6px;
  @include media-query($on-palm) {
    max-width: 100%;
  }
}

img.hireme {
  width: 700px;
}

span.author {
  display: block;
}

div.post-list-heading {
  color: $grey-color;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: 600;
}

.post-meta {
  text-transform: uppercase;
}

ul.post-list {
  @media screen and (min-width: $on-laptop) {
    display: flex;
    gap: 20px;
  }

  li {
    @media screen and (min-width: $on-laptop) {
      width: 32%;
    }

    a.post-link {
      img {
        border-radius: 4px;
      }
    }
  }
}

.site-nav {
  font-weight: 600;

  .page-link {
    color: $grey-color;
  }
}

.post-content {
  p {
    //max-width: 700px;
  }
}
article.post {
  display: flex;
  flex-flow: row wrap;

  @media screen and (min-width: $on-laptop) {
    header.post-header {
      flex: 1 100%;
    }
    div.post-content {
      flex: 1 0 0;
    }
  }

  div.post-sidebar {
    margin: 0 auto;
    @media screen and (min-width: $on-laptop) {
      padding-left: 50px;
    }

    img {
      display: block;
      max-width: 200px;
      border-radius: 6px;
    }
    a {
      display: block;
    }
  }
}
